.dashboard-container {
    display: flex;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }

  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align cards horizontally */
  }
  
  .card {
    width: 300px; /* Adjust card width as needed */
    margin: 10px; /* Add margin for spacing between cards */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 15px;
  }
  
  .card .btn {
    display: block;
    width: 100%;
  }
  